
.slidesContainer {
	position: relative;
	overflow: hidden;
}

.slidesContainer .slides {
	width: 10000px;
	position: absolute;
	
	top: 0px;
	left: 0px;
}

.slidesContainer .slides img.slide {
	float: left;
	cursor: pointer;
}
